<form>
    <img src="assets/icon-no-bg.png" alt="">
    <h2>⛔ Sobrepeso</h2>
    <p class="hint">Cuidado você está @Situacao,  dê uma atenção para sua saúde</p>
    <button type="submit">Registrar Medidas</button>
    <button @onclick="History">Ver meu histórico</button>
</form>

@code {
    [Parameter]
    public string? Situacao { get; set; }
    public void Save() {}
    public void History() => navigationManager.NavigateTo("/history");
}