    @page "/history"
    @inject ILocalStorageService localStorage

    <form class="full">
        <img src="assets/icon-no-bg.png" class="icon" alt="">

        <h2>Histórico</h2>

        <input type="search" placeholder="Pesquisar..." />
        <ul>
            <li>
                <img src="#" alt="" />
                <div>
                    <div>
                        <b>Peso ideal ✅</b>
                        <span>8m atrás</span>
                    </div>
                    <p>Parabéns, você está no seu peso ideal, continue mantendo este estilo!</p>
                </div>
            </li>

            <li>
                <img src="#" alt="" />
                <div>
                    <div>
                        <b>Sobrepeso ⛔</b>
                        <span>12/10/2023</span>
                    </div>
                    <p>Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!</p>
                </div>
            </li>

        </ul>
    </form>