@page "/"

<PageTitle>Main</PageTitle>

@if (Model.IMC is null)
{
    <EditForm Enhance="true" FormName="PatientForm" Model="Model" OnValidSubmit="Submit" method="POST" class="full">
        <h2>Cálculo de Model.IMC</h2>
        <InputNumber @bind-Value="Model!.Height" placeholder="Altura" autocomplete="off" />
        <ValidationMessage For="() => Model.Height" />
        <InputNumber @bind-Value="Model!.Weight" placeholder="Peso" autocomplete="off" />
        <ValidationMessage For="() => Model.Weight" />
        <InputText @bind-Value="Model!.Gender" placeholder="Sexo" autocomplete="off" type="text" />
        <ValidationMessage For="() => Model.Gender" />
        <div class="checkbox">
            <InputCheckbox @bind-Value="Model!.Aged" id="aged" />
            <label for="aged">Eu tenho 65 anos ou mais</label>
        </div>
        <button type="submit">Calcular meu IMC</button>
        <button type="button" @onclick="Understand">Entenda o cálculo</button>
        <DataAnnotationsValidator />
    </EditForm>
}
else
{ <Result Patient="Model" /> }