@page "/login"

<form>
    <img src="assets/icon-no-bg.png" alt="">
    <h2>Faça seu Login</h2>
    <p class="hint">Insira suas informações antes de medir seu IMC</p>
    <input type="text" placeholder="Seu e-mail" />
    <input type="text" placeholder="Sua senha" />
    <div class="checkbox">
        <input type="checkbox" name="robot" id="robot" />
        <label for="robot">Não sou um robô</label>
    </div>
    <button type="submit">Fazer Login</button>
    <button>Não tenho um acesso</button>
</form>