@page "/register"

<form>
    <img src="assets/icon-no-bg.png" alt="">
    <h2>Crie sua conta</h2>
    <p class="hint">Você precisa criar uma conta</p>
    <input type="text" placeholder="Seu username" />
    <input type="text" placeholder="Seu melhor e-mail" />
    <input type="text" placeholder="Sua senha" />
    <input type="text" placeholder="Confirme sua senha" />
    <div class="checkbox">
        <input type="checkbox" name="robot" id="robot" />
        <label for="robot">Não sou um robô</label>
    </div>
    <button type="submit">Criar Conta</button>
    <button>Fazer Login</button>
</form>