@page "/remember"

<form>
    <img src="assets/icon-no-bg.png" alt="">
    <h2>Relembre seu Login</h2>
    <p class="hint">Recupere seu acesso antes de fazer o cálculo IMC</p>
    <input type="text" placeholder="Seu e-mail" />
    <div class="checkbox">
        <input type="checkbox" name="robot" id="robot" />
        <label for="robot">Não sou um robô</label>
    </div>
    <button type="submit">Recuperar Login</button>
    <button>Não tenho um acesso</button>
</form>